/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000; /* fundo preto */
  color: #f0f0f0;           /* texto claro */
  font-family: Arial, sans-serif;
}

/* Garante que o router-outlet ocupe a tela toda */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-danger {
  color: red;
  font-size: 0.875rem; /* opcional: tamanho menor para erros */
  margin-top: 0.25rem;
}

.is-invalid {
  border-color: red;
}